%h1 New structure

= link_to 'Back', admin_structures_path, class:'btn btn-secondary mr-2'
= link_to '< Table', admin_structures_path, class:'btn btn-secondary mr-2'
= link_to '< Tree', tree_admin_structures_path, class:'btn btn-secondary mr-2'

= render 'form'

= link_to 'Back', admin_structures_path, class:'btn btn-secondary mr-2'
= link_to '< Table', admin_structures_path, class:'btn btn-secondary mr-2'
= link_to '< Tree', tree_admin_structures_path, class:'btn btn-secondary mr-2'

