%p
  %b User:
  = link_to @api_key.user.email, [:admin, @api_key.user]
%p
  %b Key:
  = @api_key.key
%p
  %b Secret:
  = @api_key.secret
%p
  %b Active:
  = @api_key.active

= link_to 'Edit', edit_admin_api_key_path(@api_key)
\|
= link_to 'Back', admin_api_keys_url
