!!!
%html.h-100
  %head
    = render "layouts/meta"
  %body.h-100
    .container-fluid.h-100.px-0
      .cc.row.m-0.h-100
        -# %nav.cc-leftcol.cc-leftcol__top.d-none.d-md-block.col-12.col-md-1.p-0
          -# = render partial: "layouts/navbar_link", locals: {location: :settings, icon: "Settings", link: "#", subtext: ""}

        %nav.navbar.navbar-expand-md.cc-maincol.cc-navbar.navbar.shadow.bg-white
          = link_to logo_image, root_path, class: "navbar-brand ml-3"
          %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon= fa_icon "bars", style: "color: white"
          #navbarCollapse.collapse.navbar-collapse
            .navbar-nav.mx-auto

            %ul.navbar-nav
              - if current_user
                - if current_user.is_admin
                  %li.nav-item= link_to "Admin", admin_home_path, class: "nav-link"
                %li.nav-item.dropdown
                  %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Hi, #{current_user.display_name}
                  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
                    - if current_user.is_admin
                      = link_to "Admin", admin_home_path, class: "dropdown-item"
                    = link_to "Manage My Account", edit_user_registration_path, class: "dropdown-item"
                    = link_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: "delete"
              - else
                %li.nav-item= link_to "Sign In", new_user_session_path, class: "nav-link"
                %li.nav-item= link_to "Sign Up", new_user_registration_path, class: "nav-link"

        -# %nav.cc-leftcol.cc-nav.col-12.col-md-1.p-0
        -#   = render partial: "layouts/navbar_link", locals: {location: :conditions,      icon: "Settings",      link: conditions_path,      subtext: "Conditions"}
        -#   = render partial: "layouts/navbar_link", locals: {location: :actions,         icon: "RiskSimulator", link: actions_path,         subtext: "Healthy Actions"}
        -#   = render partial: "layouts/navbar_link", locals: {location: :save_journey,    icon: "Arrow_White",   link: journeys_path,        subtext: "Save Journey"}
        -#   = render partial: "layouts/navbar_link", locals: {location: :journeys,        icon: "Hamburger",     link: journeys_path,        subtext: "Health Journeys"}

        %main.cc-maincol.cc-main.box.p-0{role: "main"}
          = render "layouts/flash"
          -# - if @title
          -#   .row.p-3
          -#     .col-12
          -#       %h1= @title
          = yield
          - unless @location == :map
            .powered-by-tanjo.hidden-print
              = link_to image_tag("logos/tanjo.png", alt: "Tanjo.ai Machine Learning"), "https://tanjo.net", target: "_blank"

    = render "layouts/analytics"
