= form_for [:admin, @journey] do |f|
  - if @journey.errors.any?
    #error_explanation
      %h2= "#{pluralize(@journey.errors.count, "error")} prohibited this journey from being saved:"
      %ul
        - @journey.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :user_id
    = f.collection_select :user_id, User.order(:email), :id, :email, {include_blank: true}, { class: 'form-control' }
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :data
    = f.text_field :data, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
