%table.datatables
  %thead
    %tr
      %th User
      %th Name
      %th Data
      %th Created
      %th Token
      %th

  %tbody
    - @journeys.each do |journey|
      %tr
        %td= journey.user.display_name
        %td= journey.name
        %td= journey.data
        %td= journey.created_at
        %td= journey.token
        %td
          = link_to 'Show', [:admin, journey]
          = link_to 'Edit', edit_admin_journey_path(journey)
          = link_to 'Destroy', [:admin, journey], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Journey', new_admin_journey_path
