- content_for :header_scripts do
  = stylesheet_link_tag '//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css'
  = stylesheet_link_tag '//cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css'
  = javascript_pack_tag "admin"

.row
  .col-12
    %table.datatables
      %thead
        %tr
          %th Name
          %th Created
          %th

      %tbody
        - @journeys.each do |journey|
          %tr
            %td= link_to journey.name, journey_path(journey.token)
            %td= link_to journey.created_at, journey_path(journey.token)
            %td= link_to 'Destroy', journey_path(journey.token), method: :delete, data: { confirm: 'Are you sure?' }
