= link_to '< Tree', tree_admin_structures_path, class:'btn btn-secondary mr-2'
= link_to 'New Structure', new_admin_structure_path, class:'btn btn-secondary mr-2'
%br
%br
%table.datatables{'data-page-length':'25'}
  %thead
    %tr
      %th Name
      %th Flavor
      %th Parent
      %th Text
      %th Picker
      %th Data
      %th

  %tbody
    - @structures.each do |structure|
      %tr
        %td= structure.name
        %td= structure.flavor
        %td= structure.parent.try(:name)
        %td= truncate structure.text
        %td
          %code{style:'font-size:7px'}
            = structure.picker && structure.picker[0..15] + ((structure.picker.length>15) ? '...' : '')
        %td= ( structure.data && safe_top_keys(structure.data_hash) ) || ''
        %td
          = link_to 'Show', [:admin, structure]
          = link_to 'Edit', edit_admin_structure_path(structure)
          = link_to 'Destroy', [:admin, structure], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to '< Tree', tree_admin_structures_path, class:'btn btn-secondary mr-2'
= link_to 'New Structure', new_admin_structure_path, class:'btn btn-secondary mr-2'

