= link_to "< Table", admin_structures_path, class:'btn btn-secondary' 
= link_to 'New Structure', new_admin_structure_path, class:'btn btn-secondary mr-2'
%br
%br

%ul.list-group.metric__tree
  - Structure.roots.sort_by{|n| (n['ordering'] || 10000)}.each do |root|
    = render partial: "tree_node", locals: {node: root}

%br
= link_to "< Table", admin_structures_path, class:'btn btn-secondary'
= link_to 'New Structure', new_admin_structure_path, class:'btn btn-secondary mr-2'