%table.datatables
  %thead
    %tr
      %th User
      %th Key
      %th Active
      %th Actions

  %tbody
    - @api_keys.each do |api_key|
      %tr
        %td
          - if api_key.user
            = link_to api_key.user.email, [:admin, api_key.user]
        %td= link_to api_key.key, [:admin, api_key]
        %td= api_key.active
        %td
          = link_to 'Show', [:admin, api_key]
          = link_to 'Edit', edit_admin_api_key_path(api_key)
          = link_to 'Deactivate', [:admin, api_key], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Api key', new_admin_api_key_path