= form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :role
    = f.select(:role, User.roles.keys, {}, { :class => 'form-control' })
  - if @user.persisted?
    .form-group
      = f.label :force_password_change, "Force Password Change on Next Sign In"
      = f.check_box :force_password_change
      .form-text.text-muted
        Selecting this check box will require the user to reset their password the
        next time they sign in.
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
