%table.datatables
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      -# %th Confirmed?
      %th Current Sign In
      %th Last Sign In
      %th Actions

  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.name, [:admin, user]
        %td= link_to user.email, [:admin, user]
        %td= user.display_role
        -# %td= user.confirmed?
        %td= user.current_sign_in_at
        %td= user.last_sign_in_at
        %td
          = link_to 'Show', [:admin, user]
          = link_to 'Edit', edit_admin_user_path(user)
          - unless user === current_user
            = link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }
